# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
flask=0.10.1=py27_1
flask-sqlalchemy=2.0=py27_0 # needs -c coursera
itsdangerous=0.24=py27_0
jinja2=2.8=py27_0
markupsafe=0.23=py27_0
openssl=1.0.2g=0
python=2.7.11=0
readline=6.2=2
setuptools=20.6.7=py27_0
sqlalchemy=1.0.12=py27_0
sqlite=3.9.2=0
tk=8.5.18=0
uwsgi=2.0.2=py27_0 # needs -c travis
werkzeug=0.11.5=py27_0
zlib=1.2.8=0
