#chart_div {
    width:100%;
    height:300px;
}

.flash {
    font-size: small;
    color: grey;
}
.form-horizontal {
    width: 100px;
    padding-left:;

}
.form-horizontal .control-group {
    margin-bottom: 5px;
    text-align: center;

}
body {
    color: #3d3d3d;
    background: #fafafe;
    padding-left: 20px;
}

#summary {
    font-family: sans-serif;
    display: inline-block;
    height: 40px;
    padding-left: 10px;
}
#location {
    color: #3d3d3d;
    padding-right: 10px;
    font-style: bold;
}
#current {
    font-size: 20px;
    color: #7e7e7e;
    padding-right: 10px;
    padding-left: 20px;
    border-left: 1px solid;
    border-right:1px solid;
}
#currentimg {
    height: 25px;
    position: relative;
    top: 5px;
}
#high {
    padding-left: 20px;
    color: #942222;
    font-weight: bolder;
    font-size: 20px;
}
#low {
    color: #566CFC;
    font-weight: lighter;
    font-size: 20px;
    padding-right: 10px;
}
#temp_divide{
  font-size: 20px;
}

.btn-large{
    width: 200px;
    position: relative;
    left: 160px;
    bottom: 81px;
    margin-bottom: -50px;
}

#zipcode{
    position: relative;
    left: 10px;
}
#hours{
    position: relative;
    bottom: 85px;
    left: 160px;
    margin-bottom: -80px;
}
.input-mini {
    text-align: center;
}

.header {
    width: 500px;
    height: 50px;
    text-align: center;
    background-image:
      linear-gradient(
        #03a9f4, #b3e5fc
      );
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header_span {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
#seanlogo {
    float: left;
    height: 40px;
    border-radius: 50%;
    margin-left: -50px;
    margin-right: 10px;
    margin-top: 5px;
}


#chart_div > div:nth-child(1) > svg > g:nth-child(16) > g > rect{
  display: none;
}
#chart_div > div:nth-child(1) > svg > g:nth-child(16) > g > text > tspan{
  display:none;
}
