[Unit]
Description=uWSGI Emperor service
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --emperor /etc/uwsgi/apps-enabled
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
Environment=SECRET_KEY=your_secret_key
Environment=WUNDERGROUND_KEY=your_api_key

[Install]
WantedBy=multi-user.target
