<!DOCTYPE html>
<html>
    <head>
        <title> Sean weather </title>
        <meta name="viewport" content="width=568">

	      <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/apple-touch-icon-57x57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144-precomposed.png" />
        <link rel="stylesheet" type="text/css" href="/static/materialize/css/materialize.min.css" />
        <script src="/static/amcharts.js" type="text/javascript"></script>
        <script src="/static/raphael.js" type="text/javascript"></script>
        <script src="/static/weather.js" type="text/javascript"></script>
        <script type="text/javascript">
            var lineChartData = {{ data_string|safe }};
            var num_hours = {{ num_hours }};
            var units = '{{ units }}';
            AmCharts.ready(weather);
        </script>
        <script type="text/javascript">
            window.addEventListener("DOMContentLoaded", function () {
              var form = document.getElementById("weather_form")
              document.getElementById("units").addEventListener("click", function () {
                var units = '{{ units }}'
                document.getElementById("new_units").value = (units == 'F') ? 'C' : 'F';
                form.submit();
              });
            });
        </script>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css" />

  </head>
  <body>
      {% for message in get_flashed_messages() %}
      <div class=flash>{{ message | safe }}</div>
      {% endfor %}
      <div class="header z-depth-1">
        <span class="header_span">
          <img id="seanlogo" src="/static/apple-touch-icon-57x57-precomposed.png" />
          <h5>Welcome to SeanWeather&trade;</h5>
        </span>
  	  </div>
      <div id="summary" class="cyan lighten-5 z-depth-1">
        <span id="location"> {{ location }} </span>
        <span id="current"> {{ current_temp }}&deg; <a href="#" id="units">{{units}}</a> <img id="currentimg" src={{ icon | safe }} /> </span>
        <span id="high">{{ max_temp }}&deg;</span>
        <span id="temp_divide">/</span>
        <span id="low"> {{ min_temp }}&deg;</span>
      </div>
      <div id="chart_div"> </div>
      <br>
      <form action="" method="GET" class="form-horizontal" id="weather_form">
          <input type="hidden" id="new_units" name="new_units" value=false>
          <div id="zipcode" class="control-group">
              <label class="control-label" for="input_zipcode">Zip code or city:</label>
              <div class="controls">
                  <input class="input-mini" type="text" size=5 id="input_zipcode" name="user_input" value="{{ user_input }}">
              </div>
          </div>
          <div id="hours" class="control-group">
              <label class="control-label" for="input_num_hours"># hours to display: </label>
              <div class="controls">
                  <input class="input-mini" type="text" size=3 id="input_num_hours" name="num_hours" value="{{ num_hours }}">
              </div>
          <div class="control-group">
              <div class="controls">
                  <button type="submit" class="waves-effect waves-light btn-large"> GIMME WEATHER </button>
              </div>
          </div>
          </div>
      </form>
    <hr>
    <p> Leave a <a href='discuss'> comment or suggestion</a> </p>
    <p> Check out the code on <a href='https://github.com/sharnett/myweather'> github</a> </p>
   <!-- Google Analytics start -->
   <script type="text/javascript">
       if (window.location.host != '127.0.0.1:5000') {
           var _gaq = _gaq || [];
           _gaq.push(['_setAccount', 'UA-39287742-1']);
           _gaq.push(['_trackPageview']);
           (function() {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
       }
   </script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
   <!-- Google Analytics end -->
  </body>
</html>
