<html>
    <head>
        <title> Sean weather </title>
        <meta name="viewport" content="width=450">
	<link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/apple-touch-icon-57x57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144-precomposed.png" />
        <script src="/static/amcharts.js" type="text/javascript"></script>
        <script src="/static/raphael.js" type="text/javascript"></script>
        <script src="/static/weather.js" type="text/javascript"></script>
        <script type="text/javascript">
            var lineChartData = {{ data_string|safe }};
            var num_hours = {{ num_hours }};
            var city = "{{ city }}";
            AmCharts.ready(weather);
        </script>
        <style type="text/css">
            #chart_div {
                width:100%;
                height:300px;
            }
        </style>
  </head>
  <body>
      <h3>Welcome to SeanWeather&trade;</h3>
      <div id="chart_div"> </div>
      <form action="" method="GET">
          <table>
              <tr>
                  <td>Zip code:</td>
                  <td> <input type="text" size=5 name="zip_code" value="{{ zip_code }}"/> </td>
                  <td></td>
              </tr>
              <tr>
                  <td> # hours to display: </td>
                  <td> <input type="text" size=3 name="num_hours" value="{{ num_hours }}"/> </td>
                  <td> <input type="submit" value="GIMME WEATHER" /> </td>
              </tr>
              </tr>
          </table>
      </form>
   <!-- Google Analytics start -->
   <script type="text/javascript">
       if (window.location.host != '127.0.0.1:5000') {
           var _gaq = _gaq || [];
           _gaq.push(['_setAccount', 'UA-39287742-1']);
           _gaq.push(['_trackPageview']);
           (function() {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
       }
   </script>
   <!-- Google Analytics end -->
  </body>
</html>
