<html>
    <head>
        <title> Sean weather </title>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Time');
                data.addColumn('number', 'Temperature');
                data.addColumn('number', 'Feels like');
                data.addColumn('number', 'Precipitation %');
                data.addRows([
                        {{ data_string }}
                        ]);

                var options = {
                    hAxis: {format: 'E ha'},
                    legend: {position: 'top'},
                    series: {2:{targetAxisIndex:1}},
                    vAxes: [{format: "### F"}, {format: "###'%'", minValue: 0, maxValue:100}]
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                var formatter_short = new google.visualization.DateFormat({formatType: 'short'});
                formatter_short.format(data, 0);
                chart.draw(data, options);
            }
</script>
  </head>
  <body>
      <h1>Welcome to SeanWeather&trade;</h1>
      <form action="" method="GET">
          <table>
              <tr>
                  <td>Zip code:</td>
                  <td> <input type="text" size=5 name="zip_code" value="{{ zip_code }}"/> </td>
                  <td></td>
              </tr>
              <tr>
                  <td> # hours to display: </td>
                  <td> <input type="text" size=3 name="num_hours" value="{{ num_hours }}"/> </td>
                  <td> <input type="submit" value="GIMME WEATHER" /> </td>
              </tr>
              </tr>
          </table>
      </form>
      <center><h4> {{ num_hours }} hour forecast for zip code {{ zip_code }} </h4></center>
      <div id="chart_div"> </div>
  </body>
</html>
